<div>
  <div>
    <h1>
      List of all plants
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new plant
    </h2>

    <form action="/insert_plant" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="plant_name_box">
          Plant name
        </label>

        <input type="text" id="plant_name_box" name="query_plant_name">
      </div>

      <div>
        <label for="last_watered_date_box">
          Last watered date
        </label>

        <input type="date" id="last_watered_date_box" name="query_last_watered_date">
      </div>

      <div>
        <label for="watering_frequency_box">
          Watering frequency
        </label>

        <input type="text" id="watering_frequency_box" name="query_watering_frequency">
      </div>

      <div>
        <label for="sunlight_requirement_box">
          Sunlight requirement
        </label>

        <input type="text" id="sunlight_requirement_box" name="query_sunlight_requirement">
      </div>

      <div>
        <label for="soil_type_box">
          Soil type
        </label>

        <input type="text" id="soil_type_box" name="query_soil_type">
      </div>

      <div>
        <label for="other_tips_box">
          Other tips
        </label>

        <input type="text" id="other_tips_box" name="query_other_tips">
      </div>

      <button>
        Create plant
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Plant name
        </th>

        <th>
          Last watered date
        </th>

        <th>
          Watering frequency
        </th>

        <th>
          Sunlight requirement
        </th>

        <th>
          Soil type
        </th>

        <th>
          Other tips
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_plants.each do |a_plant| %>
      <tr>
        <td>
          <%= a_plant.id %>
        </td>

        <td>
          <%= a_plant.user_id %>
        </td>

        <td>
          <%= a_plant.plant_name %>
        </td>

        <td>
          <%= a_plant.last_watered_date %>
        </td>

        <td>
          <%= a_plant.watering_frequency %>
        </td>

        <td>
          <%= a_plant.sunlight_requirement %>
        </td>

        <td>
          <%= a_plant.soil_type %>
        </td>

        <td>
          <%= a_plant.other_tips %>
        </td>

        <td>
          <%= time_ago_in_words(a_plant.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_plant.updated_at) %> ago
        </td>

        <td>
          <a href="/plants/<%= a_plant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
